* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "AbeeZee";
}

section {
  min-height: 100vh;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.hero {
  background: url("../imgs/hero-bg.png") no-repeat center center/cover;
}
.hero header {
  position: relative;
  border-bottom: 2px solid #fff;
  overflow-x: clip;
}
.hero header .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.hero header .header-wrapper .logo h1 {
  font-weight: 500;
}
.hero header .header-wrapper .logo h1 a {
  color: #fff;
  font-family: "Technique BRK", sans-serif;
}
.hero header .header-wrapper .logo h1 a span {
  color: #3455EE;
}
.hero header .header-wrapper .burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.hero header .header-wrapper .burger-menu .bar {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 22px;
  transition: 0.5s;
}
.hero header .header-wrapper .burger-menu .top, .hero header .header-wrapper .burger-menu .bottom {
  width: 60%;
}
.hero header .header-wrapper .active .middle {
  opacity: 0;
}
.hero header .header-wrapper .active .top {
  width: 100%;
  transform: translate(0px, 14px) rotate(-225deg);
}
.hero header .header-wrapper .active .bottom {
  width: 100%;
  transform: translate(0px, -10px) rotate(225deg);
}
.hero header .header-wrapper .navigation-menu {
  position: absolute;
  top: 10vh;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  background-color: rgb(8, 3, 35);
  font-size: 2rem;
  text-align: center;
  transform: translateX(100%);
  transition: 0.3s;
}
.hero header .header-wrapper .navigation-menu .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.hero header .header-wrapper .navigation-menu .nav-links .nav-link a {
  color: #fff;
}
.hero header .header-wrapper .navigation-menu.menu-active {
  transform: translateX(0);
}
.hero .hero-content {
  height: 90vh;
}
.hero .hero-content .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.hero .hero-content .content-wrapper p {
  font-size: 12px;
  text-align: center;
}
.hero .hero-content .content-wrapper .main-heading {
  padding: 0rem;
  font-size: 1.3rem;
  text-align: center;
}
.hero .hero-content .content-wrapper .main-heading h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.hero .hero-content .content-wrapper .main-heading h1 img {
  height: 20px;
}
.hero .hero-content .content-wrapper .hero-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero .hero-content .content-wrapper .hero-btns .hero-btn {
  padding: 1rem 3rem;
  background-color: #3455EE;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.hero .hero-content .content-wrapper .hero-btns .hero-btn:hover {
  filter: drop-shadow(0px 0px 5px #3455EE);
}
.hero .hero-content .content-wrapper .hero-btns .video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero .hero-content .content-wrapper .hero-btns .video-btn .play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: rgba(190, 202, 255, 0.27);
  border-radius: 50%;
  color: #C2CDFF;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.hero .hero-content .content-wrapper .hero-btns .video-btn .play-btn:hover {
  height: 55px;
  width: 55px;
}/*# sourceMappingURL=main-style.css.map */